html, body {
	height: 100%;
    padding-top: 20px;
    position: relative;
}

/* COLOR SCHEME
 light gray: #DCDCDC
 dark gray: #2D2D2D
 greenish gray: #6B7E77
 light green: #43932C
 dark green: #237510
 */

.navbar-light {
    background-color: #DCDCDC;
}

.navbar-light .navbar-nav > li > a {
    color: #2D2D2D;
}
.navbar-light .navbar-nav > li > a:hover,
.navbar-light .navbar-nav > li > a:focus {
    color: #6B7E77;
}
.navbar-light .navbar-nav > .active > a,
.navbar-light .navbar-nav > .active > a:hover,
.navbar-light .navbar-nav > .active > a:focus {
    color: #43932C;
}
.navbar-light .navbar-nav > .open > a,
.navbar-light .navbar-nav > .open > a:hover,
.navbar-light .navbar-nav > .open > a:focus {
    color: #438730;
    background-color: #D5D5D5;
}

.navbar-nav > li{
    margin-left:10px;
    margin-right:10px;
}

.navbar-brand {
    width: 51px;
}

.navbar-brand > img {
    position: relative;
    right: 15px;
}

.nav-pills {
    padding-top: 25px;
    padding-left: 51px;
    padding-right: 51px;
}

.nav-pills>li.active>a:active
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background-color: #339933;
    color: white;
}

.nav-pills .open>a,
.nav-pills .open>a:active,
.nav-pills .open>a:focus {
    background-color: #339933;
}

.nav-pills>li>a {
    color: #339933;
}

.tab-content {
    padding-left: 51px;
    padding-right: 51px;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.media {
    padding-top: 25px;
    padding-left: 51px;
    padding-right: 51px;
}

.thumbnail {
    height: 100%;
}

.section {
    position: relative;
}

.section:target {
    padding-top: 7%;
}

#main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear: both;
    padding-top: 20px;
}
