html, body {
	height: 100%;
    padding-top: 20px;
}

/* Remove navbar defaults */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand {
    width: 51px;
}

.navbar-brand>img {
    position: relative;
    margin-top: -15px;
    right: 15px;
}

.nav-pills {
    padding-top: 25px;
    padding-left: 51px;
    padding-right: 51px;
}

.nav-pills>li.active>a:active
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background-color: #339933;
    color: white;
}

.nav-pills .open>a,
.nav-pills .open>a:active,
.nav-pills .open>a:focus {
    background-color: #339933;
}

.nav-pills>li>a {
    color: #339933;
}

.tab-content {
    padding-left: 51px;
    padding-right: 51px;
}

#main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear: both;
    padding-top: 20px;
}
